{
  "plugins": [
    ["babel-plugin-meteoralias", {
    	"aliases": [
    		{
				"to": "preact-compat",
      	"from": "react"
    		},
        {
          "from": "react-dom",
          "to": "preact-compat"
        }
    	]
    }]
  ]
}
